html,body{
    height:100%;
}
.jd_layout{
    width: 100%;
    height: 100%;
}
/*顶部通栏*/
.jd_topBar{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    background: url("../images/header-bg.png") 0 0 / 1px 44px;
}
.jd_topBar a{
    width: 40px;
    height: 44px;
    padding: 12px 10px;
    position: absolute;
    top: 0;
    /*让背景从内容开始平铺.定位在内容上*/
    background-origin: content-box;
    /*内容以外被裁减掉*/
    background-clip: content-box;

}
.jd_topBar .icon_back{
    left: 0;
    background-position: -20px 0;
}
.jd_topBar .icon_menu{
    right: 0;
    background-position: -60px 0;
}

.jd_topBar form{
    width: 100%;
    padding:0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius:4px;
    margin-top: 7px;
    padding:0 10px;
}

/*占满剩余的高度*/
.jd_main{
    width:100%;
    height: 100%;
    padding-top: 45px;
}
.jd_main .jd_cateLeft{
    width: 90px;
    height: 100%;
    float: left;
    overflow:hidden;
}

.jd_cateLeft ul{
    width:90px;
}

.jd_cateLeft ul li{
    width:90px;
    height:50px;
    line-height:50px;
    background: #f3f4f5;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
}
.jd_cateLeft ul li.now{
    background:#fff;
    border-right:none;
}
.jd_cateLeft ul li.now a{
    color:red;
}

.jd_cateLeft ul li a{
    display:block;
    width:100%;
    font-size:12px;

}


/*右边*/
.jd_main .jd_cateRight{
    overflow:hidden;
    height: 100%;
}
.jd_cateRight_box{
    padding:0 10px;
    width:101%;
}
.jd_cateRight_box .banner{
    width:100%;
    margin-top:10px;
}
.jd_cateRight_box .banner img{
    width:100%;
    display:block;
}
.jd_cateRight_box .hot{
    margin-top:10px;
}
.jd_cateRight_box .hot h3{
    font-size:12px;
}
.jd_cateRight_box .hot ul{
    width:100%;
}
.jd_cateRight_box .hot ul li{
    width:100%;
    float:left;
}
.jd_cateRight_box .hot ul li a{
    display:block;
    width:100%;
}
.jd_cateRight_box .hot ul li a p{
    font-size:12px;
    text-align: center;
    padding:5px;
}
.jd_cateRight_box .hot ul li a img{
    width:62px;
    height: 62px;
    display:block;
    margin:0 auto;

}
a.mui-btn{
  font-size: large;
  text-align: center;
  line-height: 80px;
}
