.area {
	margin: 20px auto 0px auto;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 25%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 75%;
  font-size: smaller;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}
label{
  font-size: smaller;
}
.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}
a.backFont{
	font-size: 1rem;
	line-height: 1.25rem;
}
